.header {
    background-color: #f5f5f5; /* Light gray background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 100%;
    
  }

  .nav {
    display: flex;
    justify-content: space-between; /* Space out nav items */
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    
  }
  
  .navLink {
    color: #333; /* Dark text for contrast */
    text-decoration: none;
    margin-left: 20px; /* Spacing between links */
    font-weight: bold;
    text-decoration: none;
  }
  
  .navLink:hover {
    color: #0070f3; /* Highlight color on hover */
  }
  
  .logo {
    font-size: 1.5rem;
    color: #0070f3; /* Brand color for the logo */
    font-weight: bold;
    text-decoration: none;
  }
  

  @media (max-width: 600px) {
    .navLink {
      font-size: medium; /* Minimum font size on small screens */
    }
    .logo {
      font-size: large;
    }
    .nav {
    padding-left: 15px;
    padding-right: 15px;
    }

  }
  
  @media (min-width: 1200px) {
    .navLink {
      font-size: large; /* Maximum font size on large screens */
    }
    .logo {
      font-size: x-large;
    }
    
  }